.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0px 5px 19px #00000022;
	border-radius: 69px;
	height: 69px;
	width: 427px;
	margin-bottom: 15px;
}

.circle,
.correct {
	margin-left: 21px;
	height: 27.75px;
	width: 27.75px;
	border: 3px solid #6231ec;
	border-radius: 50%;
	background-color: #6331ec00;
}

.text {
	max-width: 331.16px;
	margin-left: 25px;
	color: #6231ec;
	font-weight: 500;
}

/* --------- SCROLL ANIMATION --------- */

@keyframes scroll {
	0% {
		transform: translateY(300px);
	}
	20% {
		transform: translateY(0px);
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}
@-o-keyframes scroll {
	0% {
		transform: translateY(300px);
	}
	20% {
		transform: translateY(0px);
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}

@-moz-keyframes scroll {
	0% {
		transform: translateY(300px);
	}
	20% {
		transform: translateY(0px);
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}

@-webkit-keyframes scroll {
	0% {
		transform: translateY(300px);
	}
	20% {
		transform: translateY(0px);
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}

.scroll {
	opacity: 0;
	-webkit-animation: scroll 9s linear both;
	-moz-animation: scroll 9s linear both;
	-o-animation: scroll 9s linear both;
	animation: scroll 9s linear both;
	animation-iteration-count: infinite;
}

.scroll:nth-child(1) {
	animation-delay: 0ms;
}
.scroll:nth-child(3) {
	animation-delay: 310ms;
}
.scroll:nth-child(4) {
	animation-delay: 610ms;
}

/* --------- SELECT ANIMATION --------- */

@keyframes select {
	0%,
	40% {
		background-color: #6331ec00;
	}
	45% {
		background-color: #6231ec;
	}
	100% {
		background-color: #6231ec;
	}
}
@-o-keyframes select {
	0%,
	40% {
		background-color: #6331ec00;
	}
	45% {
		background-color: #6231ec;
	}
	100% {
		background-color: #6231ec;
	}
}
@-moz-keyframes select {
	0%,
	40% {
		background-color: #6331ec00;
	}
	45% {
		background-color: #6231ec;
	}
	100% {
		background-color: #6231ec;
	}
}
@-webkit-keyframes select {
	0%,
	40% {
		background-color: #6331ec00;
	}
	45% {
		background-color: #6231ec;
	}
	100% {
		background-color: #6231ec;
	}
}

.correct {
	animation: select 9s none;
	-o-animation: select 9s none;
	-moz-animation: select 9s none;
	-webkit-animation: select 9s none;
	animation-iteration-count: infinite;
}
