.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0px 5px 19px #00000022;
	border-radius: 69px;
	height: 69px;
	width: 427px;
	margin-bottom: 15px;
}

.circle {
	margin-left: 21px;
	height: 27.75px;
	width: 27.75px;
	border: 3px solid #6231ec;
	border-radius: 50%;
}

.text {
	max-width: 331.16px;
	margin-left: 25px;
	color: #6231ec;
	font-weight: 500;
}
