.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 0px 5px 19px #00000022;
	border-radius: 74px;
	height: 351px;
	width: 500px;
	overflow: hidden;
}

.question {
	width: 330px;
	color: #818181;
	text-align: center;
	font-weight: 600;
}

/* --------- FADE IN ANIMATION --------- */

@keyframes fadeAnimation {
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}
@-o-keyframes fadeAnimation {
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}

@-moz-keyframes fadeAnimation {
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeAnimation {
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}

.fade {
	opacity: 0;
	-webkit-animation: fadeAnimation 9s linear forwards;
	-moz-animation: fadeAnimation 9s linear forwards;
	-o-animation: fadeAnimation 9s linear forwards;
	animation: fadeAnimation 9s linear forwards;
	animation-iteration-count: infinite;
}
